
html, p, div, input, button {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif";
  font-weight: 400;
  color: "#333";
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-overflow-scrolling: touch;  
}

/*
 * Remove default margin.
 */
html, body, #root, [data-reactid=".0"] {
  margin: 0;
  height: 100%;
  position: relative;
}

/* Stop horizontal scroll bar appearing */
body {
  overflow-x: hidden;
}


/*
 * Elements
 */

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #CCC;
}

/*
 * Button
 */

.button {
  border: 1px solid #CCC;
  background-color: inherit;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
  color: #888;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14;
  vertical-align: middle;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/* from Bootstrap */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* end bootstrap */

.panel th {
  text-align: left;
  padding-right: 10px;
}
.panel td {
  text-align: left;
  padding: 3px;
}

button:focus {outline:0;}
